{% extends 'core/clean.html' %}
{% load hash_filters %}
{% load comp_filters %}

{% block title %} zoyoe sydneyscent {% endblock %}

{% block css_link %} 
  <link rel="stylesheet" href="/css/contrib/960.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/general.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/nav.css" type="text/css" media="all" charset="utf-8"/>
  <link rel="stylesheet" href="/css/contrib/dialog.css" type="text/css" media="all" charset="utf-8"/>

<style type="text/css">
h3{
  padding:0px;
  margin:15px 0px 5px 0px;
}
.mission{
 background: transparent url("/res/bg/target.png") center 9px no-repeat;
}

</style>


{% endblock %}

{% block js_link %}
 <script type="text/javascript" charset="utf-8"
        src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js">
 </script>
 <script type="text/javascript" src="/js/comps.js"></script>
 <script type="text/javascript" src="/js/ui.js"></script>
 <script type="text/javascript" src="/js/zoyoe.js"></script>
 <script type="text/javascript" src="/js/ele.js"></script>
 <script type="text/javascript">
    function document_load(){
      YUI().use('node','anim','io-form',function(Y){
        zoyoe.InitZoyoe(false,Y);
        zoyoe.admin = InitAdmin(zoyoe);
      });
    }
  </script>

{% endblock %}

{% block nav %}
  <li class='menu'><a href='/zoyoe/'>Zoyoe</a></li>
  <li class='menu'><a href='/forum/'>Forum</a></li>
  {% include "core/_usrmenu.html" %}
{% endblock %}

{% block content %}
 <div class='nav-sup' style="border-bottom:1px solid white;">
  search filter here
 </div>
 <div class='nav-last' style="height:1px;"></div>
 <div class='container_12' id='steps'>
 <ul>
   {{list_content|safe}}
 </ul>
 </div>
{% endblock %}

{% block tail %}
 {% include "core/_tail.html" %}
{% endblock %}
