<style type="text/css">
div.sinka{
  font-family:Arial;
  text-decoration:none;
  text-transform:none;
}
div.sinka-head{ 
  height:190px;
  background: url("http://zoyoe.files.wordpress.com/2011/02/logo2-e1299071523823.png") 20px 20px no-repeat;}
div.sinka-head a{
  text-decoration:none;
}
div.sinka-head img.icon{
  float:left;
  height:40px;
  width:40px;
  margin:0px;padding:0px;position:relative;top:-12px;left:-5px;
}
ul.sinka-head-ul{
  float:right;
  list-style-type:none;
  height:50px;
  font-size:15px;
  font-weight:bold;
  color:#949494;
  background: #282727 url("http://zoyoe.files.wordpress.com/2011/02/nav_bg.jpg")
  repeat-x;
  margin:140px 0 0 0;
  padding:0px;
}
ul.sinka-head-ul li{
  font-size:12px;
  height:20px;
  display:block;
  float:left;
  padding:15px;
  border-left:1px solid #282727;
  cursor:pointer;
}
ul.sinka-head-ul li.selected{
  background-color:#000000;
  color:dbdbdb;
}
ul.sinka-head-ul li:hover{
  background-color:#000000;
}
ul.sinka-head-ul li a{
  color:#949494
}
ul.sinka-head-ul li a:visited{
  color:#949494
}
ul.sinka-head-ul li a:active{
  color:#949494
}
ul.sinka-head-ul li a:link{
  color:#949494
}
div.sinka-head-container{
  padding:0px;
  margin:0px;
  display:relative;
  border:none;
  background: #000000 url("http://zoyoe.files.wordpress.com/2011/02/top_bg.jpg");
}
div.sinka-section{
  text-align:left;
  font-size:14px;
  padding:20px 0 0 0;
}
div.sinka-section h3{padding:5px 10px 5px 10px;
  margin:0px;
  border-bottom:1px solid #1b1b1b;
  border-top:1px solid #ebebeb;
  border-left:1px solid #ebebeb;
  border-right:1px solid #ebebeb;
}
div.sinka-highlight{
  height:50px;
  border-top: 1px solid #000000;
  background-color:#ebebeb;
  margin:0px;
}
div.sinka-highlight h3{
  height:30px;
  margin:5px;
  padding:8px 10px 2px 10px;
  color:#333333;
  font-size:20px;
  border:1px solid #e0e0e0;background-color:white;}
</style>
<div class="sinka">
  <div class="sinka-head-container">
  <div class="sinka-head">
    <ul class="sinka-head-ul">
    <li class="selected">
      <img class="icon" src="http://zoyoe.files.wordpress.com/2011/03/gift-box-e1299076225642.png"/>Item Details
    </li>
    <li><a href="http://stores.ebay.com.au/sinkagiftstore">
      <img class="icon" src="http://zoyoe.files.wordpress.com/2011/02/gift_shop_icon.png"/>eBay Shop</a>
    </li>
    <li><img class="icon" src="http://zoyoe.files.wordpress.com/2011/02/facebook48.png"/>Our FaceBook</li>
    </ul>
  </div>
</div>
<div class="sinka-highlight">
  <h3>{{TITLE}}</h3>
</div>
<div class="sinka-section">
  <h3>Condition:</h3>
  <div>{{CONDITION}}</div>
</div>
<div class="sinka-section">
  <h3>More Pictures:</h3>
  <div>{{IMGS}}</div>
</div>
<div class="sinka-section">
  <h3>Measurement:</h3>
  <div>{{MEASURE}}</div>
</div>
<div class="sinka-section">
  <h3>Payment:</h3>
  <div>{{PAYMENT}}</div>
</div>
<div class="sinka-section">
  <h3>Shipping:</h3>
  <div>{{SHIPPING}}</div>
</div>
<div class="sinka-section">
  <h3>Returns and Feedback:</h3>
  <ul>
   <li>We will only give refund or exchange items if the item is faulty or originally damaged.</li>
   <li>Our first priority is to provide you 100% satisfaction with excellent customer service and high quality products!! We will try our best to make sure you are completely happy!You must contact us within 48 hours of item arrival if you have any concerns, and we will discuss the issue and arrange return. All items MUST be in original condition.</li>
   <li>NO refund or exchange will be given if you leave us negative or neutral feedback without negotiating with us first. Please contact us for any issues you encounter. We would try our best to solve the problem. Please DO NOT leave negative or neutral feedback before discussing us with your issues.</li>
  </ul>
</div>
