{% extends "gbase.html" %}
{% load hash_filters %}

{% block title %}
<div class="col-md-12">
  <ul class="breadcrumbs-alt">
    <li>
      <a href="#">Admin</a>
    </li>
    <li>
      <a href="#">Config</a>
    </li>
    <li>
      <a class="current" href="#">Ebay Config</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block head %}
<div class = "col-md-8">
<div class = "panel">
  <div class="panel-heading">Embeded Code:
  </div>
  <div class = "panel-body">
      {% fullescape%}{% include "embed.html" %}{% endfullescape %}
  </div>
</div>

<div class = "panel">
  <div class="panel-heading">Ebay Code:
  </div>
  <div class = "panel-body">
      <div>
{% for line in EBAY %}
<div class="well">
  <div class="product-rate clearfix" style="padding-top:0px;">
    <h4>{{line.name}}</h4><span>[{{line.type}}]</span>
  </div>
  <div class="product-info">
  {{line.content|safe}}
  </div>
</div>
{% endfor %}
      </div>
  </div>
</div>

<div class = "panel">
  <div class="panel-heading">Footer Code:
  </div>
  <div class = "panel-body">
      <div>
{% for line in FOOTER %}
<div class="product-set">
  <div class="product-rate clearfix" style="padding-top:40px;">
    <h4>{{line.name}}</h4><span>[{{line.type}}]</span>
  </div>
  <div class="product-info">
  {{line.content|safe}}
  </div>
</div>
{% endfor %}
      </div>
  </div>
</div>

<div class = "panel">
  <div class="panel-heading">GoogleAnalytic Code:
  </div>
  <div class = "panel-body">
      <div>
<div class="product-set">
  <div class="product-info">
  {{ANALYTIC|safe}}
  </div>
</div>
      </div>
  </div>
</div>

</div>

<!-- end of col -->

<div class="col-md-4">

<form action="/admin/addconfig/" method='POST'>
<div class = "panel">
  <div class="panel-heading">
    New Specification:
    <button class="btn btn-xs pull-right btn-danger"><i class="fa fa-cogs"></i>&nbsp;submit</button>
  </div>
  <div class="panel-body" id='specification'>{{ITEM.description|safe}}
      <div class="form-horizontal caption">
      {% csrf_token %}
      <div class="form-group">
       <label class="col-lg-2 control-label">title: </label>
       <div class="col-lg-10">
        <input type="text" name="title" class="form-control">
       </div>
      </div>
      <div class="form-group">
       <label class="col-lg-2 control-label">type: </label>
       <div class="col-lg-10">
        <select name="type">
         <option value="ebay">Ebay</option>
         <option value="footer">Footer</option>
         <option value="extra">Extra</option>
        </select>
       </div>
      </div>
      <div class="form-group">
       <label class="col-lg-2 control-label">content: </label>
       <div class="col-lg-10">
        <textarea name="content" class="form-control"></textarea>
       </div>
      </div>
      </div>
  </div>
  </form>
</div>

</div>



{% endblock %}
{% block subsidebar %}
{% endblock%}
