{% extends "gbase.html" %}
{% load hash_filters %}
{% block title %}
<div class="col-md-12">
  <ul class="breadcrumbs-alt">
    <li>
      <a href="#">Admin</a>
    </li>
    <li>
      <a href="#">preference</a>
    </li>
    <li><a class="current" href="#">site preference</a>
    </li>

  </ul>
</div>
{% endblock %}

{% block head %}
<section class="col-lg-7 col-md-7">

<div class = "panel">
  <div class="panel-heading">Basic Setting:
  </div>
  <div class = "panel-body">
    <table class="table  table-hover general-table">
      <thead>
        <tr>
          <th> Field </th>
          <th> Value </th>
          <th> type </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>logo</td>
          <td>{{SITE.logo}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>
        <tr>
          <td>main shop</td>
          <td>{{SITE.mainshop}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>
        <tr>
          <td>analytics</td>
          <td>{{SITE.analytics}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>
        <tr>
          <td>published</td>
          <td>{{SITE.published}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>
        <tr>
          <td>siteinfo</td>
          <td>{{SITE.siteinfo}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>
        <tr>
          <td>ebayinfo</td>
          <td>{{SITE.ebayinfo}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>
        <tr>
          <td>requirelogin</td>
          <td>{{SITE.requirelogin}}</td>
          <td><span class="label label-info label-mini">private</span></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
   <div class="mini-stat clearfix">
     <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
     <div class="mini-stat-info">
       <span>10</span>suppliers
       <a class="pull-right btn-xs btn-primary btn">create supplier</a>
     </div>
   </div>
  </div>
</div>

{% for line in CATEGORIES %}
{% include "config/config.thingy" with title=line.name category="category" form="config-form" content=line.content %}
{% endfor %}
<div class = "panel">
  <div class="panel-heading">Footer:
  </div>
  <div class = "panel-body">
{% for line in FOOTER %}
    <div class="well">
      <span class="pull-right">
        <a href="javascript:zoyoe.config.delete('#config-form','{{line.name}}');" class="fa fa-times"></a>
      </span>
      <h4>{{line.name}}</h4>
      <div>{{line.content|safe}}</div>
    </div>
{% endfor %}
  </div>
</div>

{% for supplier in SUPPLIERS %}
<div class = "panel" id='supplier-{{supplier.name}}'>
  <div class="panel-heading">{{supplier.name}}:
      <span  class="pull-right"> 
         <a class="fa fa-pencil"></a>
      </span>
  </div>
  <div class="panel-body">{{supplier.data|safe}}</div>
</div>
{% endfor %}
</section>

<section class="col-lg-5 col-md-5">
{% include "config/config.thingy" with title="analytic" category="extra" form="config-form" content=ANALYTIC %}
{% include "config/config.thingy" with title="paypal" category="private" form="config-form" content=SITEINFO.paypal %}
{% include "config/config.thingy" with title="template" category="private" form="config-form" content=SITEINFO.template %}
{% include "config/config.thingy" with title="published" datatype="boolean" category="private" form="config-form" content=SITEINFO.published %}
{% include "config/config.thingy" with title="requirelogin" datatype="boolean" category="private" form="config-form" content=SITEINFO.requirelogin%}
<form id='add-config' action="/admin/addconfig/" method='POST'>
<div class = "panel">
  <div class="panel-heading">
    New Specification:
    <button class="btn btn-xs pull-right btn-danger"><i class="fa fa-cogs"></i>&nbsp;submit</button>
  </div>
  <div class="panel-body" id='specification'>{{ITEM.description|safe}}
      <div class="form-horizontal caption">
      {% csrf_token %}
      <input type="text" name="setting" value="ebay" style="display:none">
      <div class="form-group">
       <label class="col-lg-2 control-label">title: </label>
       <div class="col-lg-10">
        <input type="text" id="title" name="title" class="form-control">
       </div>
      </div>
      <div class="form-group">
       <label class="col-lg-2 control-label">type: </label>
       <div class="col-lg-10">
        <select name="type" class="form-control">
         <option value="footer">Footer</option>
         <option value="extra">Extra</option>
        </select>
       </div>
      </div>
      <div class="form-group">
       <label class="col-lg-2 control-label">content: </label>
       <div class="col-lg-10">
        <textarea name="content" id="content" class="form-control"></textarea>
       </div>
      </div>
      </div>
  </div>
  </form>

</section>


<div class="col-lg-12">
<form action="/admin/addconfig/" method='POST' id="config-form" style="display:none">
  <div class="form-horizontal caption">
    {% csrf_token %}
    <input type="text" name="setting" value="preference" style="display:none">
    <div class="form-group">
      <label class="col-lg-2 control-label">Title: </label>
      <div class="col-lg-10">
        <input type="text" id="title" name="title" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Type: </label>
      <div class="col-lg-10">
        <select class='form-control' name="type">
         <option value="category">Category</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2">value: </label>
      <div class="col-lg-10">
        <textarea name="content" id="content" class="form-control"></textarea>
      </div>
    </div>
  </div>
</form>
</div>

{% endblock %}
{% block subsidebar %}
{% endblock%}
