{% extends "gbase.html" %}
{% load hash_filters %}
{% block title %}
<div class="col-md-12">
  <ul class="breadcrumbs-alt">
    <li>
      <a href="#">Admin</a>
    </li>
    <li>
      <a href="#">preference</a>
    </li>
    <li><a class="current" href="#">site preference</a>
    </li>

  </ul>
</div>
{% endblock %}

{% block head %}
<div ng-app="site-preference">

<section class="col-lg-7 col-md-7">
<div class = "panel" ng-controller="basic-setting-api">
  <div class="panel-heading">Basic Setting:
  </div>
  <div class = "panel-body">
    <table class="table  table-hover general-table">
      <thead>
        <tr>
          <th> Field </th>
          <th> Value </th>
          <th> type </th>
          <th> action </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>logo</td>
          {% angular %}<td>{{site.logo}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="logo" category="private" form="config-form" content=SITE.logo%}</td>
        </tr>
        <tr>
          <td>main shop</td>
          {% angular %}<td>{{site.mainshop}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="mainshop" category="private" form="config-form" content=SITE.mainshop%}</td>
        </tr>
        <tr>
          <td>analytics</td>
          {% angular %}<td>{{site.analytics}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="analytics" category="private" form="config-form" content=SITE.analytics%}</td>
        </tr>
        <tr>
          <td>published</td>
          {% angular %}<td>{{site.published}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="private" category="private" form="config-form" content=SITE.private %}</td>
        </tr>
        <tr>
          <td>siteinfo</td>
          {% angular %}<td>{{site.siteinfo}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="siteinfo" category="private" form="config-form" content=SITE.siteinfo%}</td>
        </tr>
        <tr>
          <td>ebayinfo</td>
          {% angular %}<td>{{site.ebayinfo}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="ebayinfo" category="private" form="config-form" content=SITE.ebayinfo%}</td>
        </tr>
        <tr>
          <td>requirelogin</td>
          {% angular %}<td>{{site.requirelogin}}</td>{% endangular %}
          <td><span class="label label-info label-mini">private</span></td>
          <td>{% include "config/config.thingy" with title="requirelogin" category="private" form="config-form" content=SITE.requirelogin %}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div ng-controller="suppliers-api">
{% angular %}
  <div class="row">
    <div class="col-md-12">
      <div class="mini-stat clearfix">
        <span class="mini-stat-icon orange"><i class="fa fa-gavel"></i></span>
        <div class="mini-stat-info">
          <span>{{suppliers.length}}</span>suppliers
          <a class="pull-right btn-xs btn-primary btn" href="javascript::zoyoe.supplier.create(ngapp)">create supplier</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template"  id="tree_item_renderer.html">
    <a href="/admin/items/sid/data">
    {{data.name}}
    </a>
    <button ng-click="delete(data)" ng-show="data.children">Delete nodes</button>
    <ul>
        <li ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></li>
        <button ng-click="add(data)">Add Category</button>
    </ul>
  </script>
  <div ng-repeat="supplier in suppliers" id='supplier-{{supplier.name}}' class="panel">
    <div class="panel-heading">{{supplier.name}}
        <span class="pull-right"> 
           <a class="fa fa-pencil"></a>
        </span>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li ng-repeat="data in supplier.data" ng-include="'tree_item_renderer.html'"></li>
        <button ng-click="add(supplier.data)" type="button" class="btn btn-primary btn-xs btn-block">
        <span class="fa fa-plus"></span></button>
      </ul>
    </div>
  </div>
{% endangular %}
</div> 
</section>

<div class="col-lg-12">
{% include "config/addconfig.form" with formid="config-form" %}
</div>

</div> <!-- end ng app-->
{% endblock %}
{% block dialogfirst %}
<script>
  var app = angular.module("supplier-info",[]);
  app.controller('suppliers-api', ['$scope', function($scope) {
    $scope.suppliers = [
      {'name':'test',data:{}},
    {% for supplier in SUPPLIERS%}
      {'name':'{{supplier.name}}',data:{{supplier.data|safe}}},
    {% endfor %}
    ];
    $scope.createsupplier = function(){
    }
  }
  ]);
  app.controller('basic-setting-api', ['$scope', function($scope) {
    $scope.site = {{SITE|dumpjson}};
  }
  ]);

</script>

{% endblock%}
