{% extends "base.html" %}
{% load hash_filters %}

{% block head %}
  <div class="reformat" style="min-height:800px;">
    {% include "gallery3.html" %}
  </div>

{% endblock %}

{% block title %}
  <h5><i class="fa fa-bars"></i> Dashboard <small>Welcome!</small></h5>
  <div class="btn-group">
    <a href="#" class="btn btn-link btn-lg btn-icon dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i><span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">view in list</a></li>
    </ul>
  </div>
{% endblock %}

{% block subsidebar %}
{% endblock%}

{% block dialogfirst %}
{% endblock %}

