{% extends "gbase.html" %}
{% load hash_filters %}

{% block head %}
  <div class="col-lg-12 col-md-12 col-sm-12">
    {% block image %}
    {% endblock %}
  </div>
<form id='item-info' class='validate' action="/admin/saveitem/{{ITEM.parent.name}}/{{ITEM.key.id}}/" method='POST'>
    <!-- basic info -->
    <div class="col-lg-4 col-md-6 col-sm-6">
    <section class="panel">
      <header class="panel-heading">basic info </header>
      <div class="panel-body">
        <div class="form-horizontal caption">
                      {% csrf_token %}
                    <div class="form-group">
                      <label class="col-sm-4 control-label">key: </label>
                      <div class="col-sm-8">
                      <input value="{{ITEM.key.id}}" readonly type="text" name="key" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">price: </label>
                      <div class="col-sm-8">
                      <input value="{{ITEM.price}}" type="text" name="price" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">item name: </label>
                      <div class="col-sm-8">
                      <input value="{{ITEM.name}}" type="text" name="name" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">id: </label>
                      <div class="col-sm-8">
                      <input value="{{ITEM.refid}}" type="text" name="refid" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">supplier: </label>
                      <div class="col-sm-8">
                      <input value="{{ITEM.parent.name}}" readonly type="text" name="supplier" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">disabled: </label>
                      <div class="col-sm-8">
                      <select name="disabled" class="form-control">
                        <option value = "True" {%if ITEM.disable %}selected{%endif%}>True</option>
                        <option value = "False" {%if not ITEM.disable %}selected{%endif%}>False</option>
                      </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-4 control-label">cost: </label>
                      <div class="col-sm-8">
                      <input value="{{ITEM.cost}}" type="text" name="cost" class="form-control"></input>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">category: </label>
                      <div class="col-sm-8">
                      <select value="{{ITEM.category}}" name="category" class="form-control">
                        {% include "admin/category.thingy" with category=ITEM.category %}
                      </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-4 control-label">second category: </label>
                      <div class="col-sm-8">
                      <select value="{{ITEM.category2}}" name="sndcategory" class="form-control">
                        {% include "admin/category.thingy" with category=ITEM.category2%}
                      </select>
                      </div>
                    </div>
                  </div>
          </div>
       </div>
    </div>
    </div><!-- end panel basic info -->
    <div class="col-lg-8 col-md-6 col-sm-6">
         <div class="panel ">
           <div class="panel-heading">Product Description:
           </div>
           <div class="panel-body" id='specification'>
             <textarea id="dscp" class="form-control" value="" name="description">{{ITEM.description|safe}}</textarea>
           </div>
         </div>
         <textarea id="spec-dscp" style="display:none" class="form-control" value="" name="spec">{{ITEM.specification|safe}}</textarea>
         <div class="panel ">
           <div class="panel-heading">Details & Specification:
           </div>
           <div class="panel-body">
           <table id="table-edit" class="table">
             <tr>
             <th width="100px">size</th>
             <td> </td>
             </tr> 
             <tr>
             <th>color</th>
             <td> </td>
             </tr> 
             <th>material</th>
             <td> </td>
             </tr> 
             <th>details</th>
             <td> </td>
             </tr> 
           </table>
           </div>
         </div>
         <div class="panel ">
           <div class="panel-heading">Ebay Integration:
           </div>
           <div class="panel-body">
            <ul class="list-group">
             <li class="list-group-item">ebayid:{{ITEM.ebayid}}</li> 
             <li class="list-group-item">infourl:{{ITEM.infourl}}</li>
            </ul>
            </br>
            <div class="form-group">
              <label class="col-sm-4 control-label">ebay category: </label>
              <div class="col-sm-8">
              <input id='category-search' value="{{ITEM.ebaycategory}}" type="text" name="ebaycategory" class="form-control">
              </div>
            </div>
           </div>
         </div>
         <div class=" panel">
          <div class="panel-heading">
           Shipping Policy 
          </div>
          <div class="panel-body">
           {% include "shipping.html" %}
          </div>
         </div><!--  -->
    </div>
    </form>

{% endblock %}

{% block title %}
<div class="col-md-12">
  <ul class="breadcrumbs-alt">
    <li>
      <a href="#">Admin</a>
    </li>
    <li>
      <a href="/admin/items/{{ITEM.parent.name}}/">{{ITEM.parent.name}}</a>
    </li>
    <li><a class="active" href="#">{{ITEM.name}}</a>
    </li>

  </ul>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
    <li><a href="javascript:zoyoe.ebay.saveItem('{{ITEM.parent.name}}','{{ITEM.key.id}}','#table-edit')"><i class='fa-file fa'></i> save</a></li>
    <li class="dropdown">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class='fa fa-cog'></i> more actions <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="javascript:zoyoe.ebay.exportToCell('{{ITEM.parent.name}}','{{ITEM.key.id}}','#ebayresult')">export to ebay</a></li>
        <li><a href="javascript:zoyoe.ebay.syncToCell('{{ITEM.parent.name}}','{{ITEM.key.id}}','#ebayresult')">sychronize with ebay</a></li>
        <li><a href="javascript:zoyoe.ebay.relistToCell('{{ITEM.parent.name}}','{{ITEM.key.id}}','#ebayresult')">relist to ebay</a></li>
        <li><a href="/admin/deleteitem/{{ITEM.parent.name}}/{{ITEM.key.id}}/">delete</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li id="ebayresult"></li>
  </ul>
</div>
{% endblock %}



{% block subsidebar %}
{% endblock%}


