{% extends "gbase.html" %}
{% load hash_filters %}

{% block head %}
<section class="col-lg-12">
  <div class="panel">
    <div class="panel-heading">
      {{CATEGORY}}
    </div>
    <div class="panel-body">
    {% include "./admin/gallery.html" %}
    </div>
  </div>


  <div class="col-xs-6">
    <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
    <ul class="pagination">
      <li class="paginate_button previous disabled" aria-controls="dataTable" tabindex="0" id="dataTable_previous"><a href="{{queryurlprev}}">Previous</a></li>
      {% for page in pages %}
      <li class="paginate_button" aria-controls="dataTable" tabindex="0"><a href="{{queryurl}}?page={{page}}">{{page}}</a></li>
      {% endfor %}
      <li class="paginate_button next" aria-controls="dataTable" tabindex="0" id="dataTable_next"><a href="{{queryurlnext}}">Next</a></li>
    </ul>
    </div>
  </div>
</section


{% endblock %}

{% block title %}
<div class="col-md-12">
  <ul class="breadcrumbs-alt">
    <li>
      <a href="#">Admin</a>
    </li>
    <li><a class="active" href="#">{{SHOP}}<small>{{PATH}}</small></a>
    </li>
  </ul>
</div>
{% endblock %}


{% block subsidebar %}
{% endblock%}

{% block dialogfirst %}
{% endblock %}

