{% extends "gbase.html" %}
{% load hash_filters %}

{% block title %}
<div class="col-md-12">
  <ul class="breadcrumbs-alt">
    <li>
      <a href="#">Admin</a>
    </li>
    <li>
      <a class="current" href="#">Point of Sale</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block head %}
<div class="col-md-4">
  <div class = "panel">
    <div class = "panel-heading">
        Items Info
    </div>
    <div class="panel-body" style ="min-height:500px">
    <ul class='list-group' id="autocomp">
    </ul>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class = "panel">
    <div class = "panel-heading">
        Add Item
    </div>
    <div class="panel-body">
      <div id="div-1" class="body collapse in" aria-expanded="true">
      <form name="add-item" class="form-horizontal" action="javascript:zoyoe.cart.posadd(this)">
        <div class = "form-group">
          <div class="col-lg-12">
          <input type="text" name='item-id' class = "form-control" id="search-item"></input>
          </div>
        </div>
        <ul class="item-search"></ul>
      </form>
      </div>
    </div>
  </div>
  <div class = "panel">
    <div class = "panel-heading">
        New Receipt
    </div>
    <div class= "panel-body">
      <div id='cart-result'>
      {% include "cart.html" %}
      </div>
      <div style="margin-top:20px;text-align:right">
        <a href="javascript:zoyoe.cart.save()" class='btn btn-primary btn-lg btn-grad'><i class='fa fa-shopping-cart'></i>&nbsp;checkout</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block dialogfirst %}
  <script>
  $(function() {
    $( "#search-item" ).autocomplete({
      minLength: 4,
      source: "/search/",
      open: function(event, ui) {
        $($('ul.ui-autocomplete').removeAttr('style').hide()).appendTo('#autocomp').show();
      }
    }).data('ui-autocomplete')._renderItem = function(ul, item) {
      return $("<li class='list-group-item'/>")
      .data('item.autocomplete', item)
      .append(item.label)
      .appendTo(ul);
    };
  });
  </script>

{% endblock %}

{% block subsidebar %}
{% endblock%}
