<aside class="span3">
  <div class="aside-inner">
    <div class="special">
       <div class="titleHeader clearfix">
         <h3>Special</h3>
       </div><!--end titleHeader-->
                            <ul class="vProductItemsTiny">
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the title here
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the designer portfolio
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the designer portfolio
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the designer portfolio
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!--end special-->



                        <div class="special">
                            <div class="titleHeader clearfix">
                                <h3>Featured</h3>
                            </div><!--end titleHeader-->

                            <ul class="vProductItemsTiny">
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the title here
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the designer portfolio
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the designer portfolio
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-on"></i></li>
                                            <li><i class="star-off"></i></li>
                                            <li><i class="star-off"></i></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="span4 clearfix">
                                    <div class="thumbImage">
                                        <a href=""><img src="img/72x72.jpg" alt=""></a>
                                    </div>
                                    <div class="thumbSetting">
                                        <div class="thumbTitle">
                                            <a href="#" class="invarseColor">
                                                Foliomania the designer portfolio
                                            </a>
                                        </div>
                                        <div class="thumbPrice">
                                            <span>$150.00</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!--end special-->

                        <div class="twitter-feed">
                            <div class="titleHeader clearfix">
                                <h3>Twitter Feeds</h3>
                            </div><!--end titleHeader-->
                            <div class="tweet"><p class="loading">loading tweets...</p></div><!--end tweet-->
                        </div><!--end twitter-feed-->

                    </div><!--end aside-inner-->
                </aside><!--end span3-->
