{% extends "base.html" %}
{% load hash_filters %}
{% block title %}
  <h5><i class="fa fa-shopping-cart"></i> My Shopping Cart <small>--{{PATH}}</small></h5>
  <div class="btn-group">
    <a href="#" class="btn btn-link btn-lg btn-icon dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i><span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">save as draft</a></li>
    </ul>
  </div>
{% endblock %}


{% block head %}
<div class="box row">
  <div id="cart-result" class="col-lg-7 col-md-6 col-sm-12">
    {% include "cart.html" %}
  </div>
  <div class="col-lg-5 col-md-6 col-sm-12">
    <form method="POST" class="form-horizontal validate" action="/retail/checkoutcart/" role="form" novalidate="novalidate">
     {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading"><h6 class="panel-title">Billing Info</h6></div>
                    <div class="panel-body">

                        <div class="alert alert-info fade in widget-inner">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            Collecting Delivering Infomation
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">First Name: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="firstname" id="firstname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="secondname" id="secondname">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="email">
                            </div>
                        </div>
                        
 

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Address: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="line1">
                            </div>
                        </div>
                        
                       <div class="form-group">
                            <label class="col-sm-2 control-label">City: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="city">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">State: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="state" value="NSW">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Postal Code: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="postal_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Country Code: <span class="mandatory">*</span></label>
                            <div class="col-sm-10">
                                <input type="text" class="required form-control" name="country_code" value='AU'>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <input type="submit" value="Confirm & Checkout" class="btn btn-primary">
                        </div>
    </form>
  </div>
</div>
{% endblock %}

{% block dialogfirst %}
   <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
   <script>
/* # Form Validation
================================================== */

    $(".validate").validate({
        errorPlacement: function(error, element) {
            if (element.parent().parent().attr("class") == "checker" || element.parent().parent().attr("class") == "choice" ) {
              error.appendTo( element.parent().parent().parent().parent().parent() );
            } 
            else if (element.parent().parent().attr("class") == "checkbox" || element.parent().parent().attr("class") == "radio" ) {
              error.appendTo( element.parent().parent().parent() );
            } 
            else {
              error.insertAfter(    element);
            }
        },
        rules: {
            email: {
                required: true,
                email: true
            },
            postal_code: {
                required: true,
                digits: true
            },
        },
        success: function(label) {
            label.text('Success!').addClass('valid');
        }
    });
   </script>
{% endblock %}
