<div class="reformat" style="padding:10px;id="zoyoe-ebayitemlist"></div>
<div>
  <style type="text/css">
  div.reformat{
    border: none;
    padding:0px;
    margin:0px;
  }
  div.item{
    background-color:#ffffff;
    margin:5px;
    width:200px;
    border:1px solid #cccccc;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    overflow:hidden;
    float:left;
  }
  div.item table{
    height:200px;
    width:100%;
    border-collapse:collapse;
    border-spacing:0;
  }
  div.item table td{
    text-align:center;
    vertical-align:middle;
    height:200px;
  }
  div.item table td img{
    max-width:200px;
    max-height:200px;
  }
  div.item .desc{
    height:60px; 
  }
  div.item .value{
    height:25px; 
  }
  </style>
  </div>

  <div id="container" class="js-masonry">
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
    <div class='item' ><table>
    <tr>
    <td>
    <a href='#'>
    <img src='http://eshop.zoyoe.com/static/res/picnotfound.jpg'/></a>
    </td>
    </tr>
    </table>
    <div class='desc' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">------ ----</div>
    <div class='value' style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    --- ----</div>
    </div>
</div>
<img id='zoyoe-loading' src="http://eshop.zoyoe.com/static/ajaxloader.gif" onload="if(document.body.contentEditable != 'true'){var sctag = 'scr'+'ipt';document.zoyoe = new function(){};document.zoyoe.host = 'eshop.zoyoe.com';document.zoyoe.sellerid = '{{SELLER_ID}}';document.zoyoe.keyword='{{KEYWORDS}}';var script = document.createElement(sctag);script.src = 'http://eshop.zoyoe.com/static/jslib/extra2.js';document.head.appendChild(script);}"></img>
