      <h3>About us</h3>
      <div class='lane'>
Vase Paradise is a part of ZOYOE and we have a retail shop in Newtown. Our address is 551E King ST Newtown NSW 2042. We are specialized in all kinds of different vases, artifical flowers and home decor. We open from Tuesday to Sunday from 10.30 to 18.00. We also have another eBay shop called Singularity Design which is specialized in designed glassware, jewellery and all other designed stuff. The eBay store of Singularity Design is http://stores.ebay.com.au/singularitydesign. We can be contacted via email (zoyoeproject@gmal.com) or phone (0425239422)
      </div>
      <h3 class='sub-header'>Combine Postage</h3>
      <div class='lane'>
We do combine postage for multiple purchases. If you would like to purchase a few items, please do not do the check out until we send you an invoice with deducted postage.
      </div>
      <h3 class='sub-header'>Logistics Company</h3>
      <div class='lane'>
We use AUSPOST to send most of our items. We will update the track number once the item is out. If it is the peak season, AUSPOST may take a bit longer to process parcels. You can always track your item on http://auspost.com.au/track/track.html. We sometimes use Fastway to deliver our items as well. Delivery status can be checked from www.fastway.com.au.
      </div>
      <h3 class='sub-header'>Refund Policy</h3>
      <div class='lane'>
If an item is arrived broken, please contact us within 24 hours so that we can claim from AUSPOST or Fastway. If item is claimed after 24 hours, we are not responsible for the damage. In order to get refund, we also require customers to complete a PM26 form at local post office and send us an email with scanned PM26 form if item is broken or missing. 
      </div>

