<div style="margin-left:35px;" class='row'>
<ul id="format" class="hProductItems clearfix js-masonry">

{% for item in sellitems %}
  <li class="span3 clearfix item">
    <div class="thumbnail">
      <a href='/item/{{item.parent.name}}/{{item.key.id}}/'>
      <img src='{{item.galleryurl}}'/></a>
    </div>
    <div class="thumbSetting">
      <div class="thumbTitle">
        <h3>
        <a href='/item/{{item.parent.name}}/{{item.key.id}}/' class="invarseColor">{{item.name}}</a>
        <span class="label label-info">Sales</span>
        </h3>
      </div>
      <ul class="rating clearfix">
        <li><i class="fa fa-star-o"></i></li>
        <li><i class="fa fa-star-o"></i></li>
        <li><i class="fa fa-star-o"></i></li>
        <li><i class="fa fa-star-o"></i></li>
        <li><i class="fa fa-star-o"></i></li>
      </ul>
      <div class="product-desc">
        <p>{{item.name}}
        </p>
      </div>
      <div class="thumbPrice">
        <span>{{item.currency}} &nbsp;
        {{item.price}}</span>
      </div>
      <div class="thumbButtons">
        <span>{{item.refid}}<span>
      </div>
    </div>
 </li>
{% endfor %}
</ul>
</div>
