{% extends "gbase.html" %}
{% load hash_filters %}

{% block head %}

<div style="margin-bottom:15px;font-size:25px; width:500px;"> Welcome to XXX's ebay listing gallery</div>
 Search : <input type='text' style='width:250px;margin:2px 10px 2px 10px;font-size:16px;'></input>
{% endblock %}

{% block gallery %}


<div style="padding:10px;background-color:#f0f0f0;">

<script src="http://masonry.desandro.com/masonry.pkgd.js"></script>
<div id="container" class="js-masonry">
  {% for item in sellitems %}
    <div class='item' ><a href='{{item|hash:"viewItemURL"|hash:"value"}}'>
    <img onload='msnry.layout()' style="width:100%;"src='{{item|hash:"galleryPlusPictureURL"|hash:"value"}}'/></a>
    <div style="font-size:14px;padding:5px;border-top:1px solid #cccccc">{{item|hash:"title"|hash:"value"}}</div>
    <div style="font-size:14px;padding:5px;border-top:1px solid #cccccc">
    {{item|hash:"sellingStatus"|hash:"currentPrice"|hash:"value"}} 
    {{item|hash:"sellingStatus"|hash:"currentPrice"|hash:"currencyId"|hash:"value"}}</div>
    </div>
  {% endfor %}
</div>
<script>
var container = document.querySelector('#container');
var msnry = new Masonry(container, {
  itemSelector: '.item',
});
</script>
</div>

{% endblock %}
