{% extends "gbase.html" %}
{% load hash_filters %}

{% block head %}

<h1 class="page-header">Config</h1>
<div class="row placeholders">
   <style type="text/css">
    #preview-form{
    }

    #preview-form a{
      margin-left:5px;
    }
   </style>
   <form id="preview-form" action = "/preview/" method = "get">
     <input style="display:none;" name="sellerid" value="{{SELLER_ID}}"></input>
     <div class="table-responsive">
       <table class="table table-striped">
       <thead>
       <tr>
         <th>option name</th>
         <th>current choice</th>
       </tr>
       </thead>

       <tbody>
       <tr>
        <td>keywords :</td>
        <td><input type='text' name="keywords" style='width:100px;'></input></td>
       </tr>
       <tr>
        <td>total itmes:</td>
        <td>
    <select name="max" form="preview-form">
      <option value="12">12</option>
      <option value="36">36</option>
    </select>
        </td>
       </tr>
       <tr>
        <td>What gallery template you want to use :</td>
        <td>
          <select name="template" form="preview-form">
            <option value="autofit">autofit</option>
            <option value="square">square</option>
            <option value="slider">slider</option>
          </select>
        </td>
       </tr>
       <tr>
        <td>shuffle rule:</td>
        <td>
         <select name="shuffle" form="preview-form">
         <option value="random">random</option>
         </select>
        </td>
       </tr>
      </tbody>
     </table>
    </div>
  </form>
</div>
<h2 class="sub-header">Ebay embeded code</h2>
<div class="row placeholders">
   <form id="quick-insert-form" action = "/checkitem/" method = "POST">
     {% csrf_token %}
     <script language="javascript">
        function quickinsert(){
          var form = document.getElementById('quick-insert-form');
          form.action = "/checkitem/" + form.itemid.value + "/";
          form.submit();
        }
     </script>
  </form>
  <div class='lane'>
       <div style="text-align:left">{% fullescape%}<div class="reformat" style="height:800px;padding:10px;background-color:#f0f0f0;" id="zoyoe-ebayitemlist"></div><img id='zoyoe-loading' 
src="http://www.zoyoe.com/static/ajaxloader.gif" onload="if(document.body.contentEditable != 'true'){var sctag = 'scr'+'ipt';document.zoyoe = new function(){};document.zoyoe.host = 'www.zoyoe.com';document.zoyoe.sellerid = '{{SELLER_ID}}';document.zoyoe.keyword='{{KEYWORDS}}';var script = document.createElement(sctag);script.src = 'http://www.zoyoe.com/static/jslib/extra.js';document.head.appendChild(script);}"></img>{% endfullescape %}</div>
     </div>
  </div>
  {% if itemlist %}
     {{itemlist|safe}}
  {% endif %}
<h2 class="sub-header">Ebay description appendix</h2>
<div class="row placeholders">
   {% include "extra.html" %}
</div>


{% endblock %}


{% block subsidebar %}
    <li><a href="" id="quickinsert">Save Config</a></li>
    <!--<div class='formbtn' onclick = "document.getElementById('preview-form').submit()">regenerate</div>-->
   </div>
{% endblock %}
