{% extends "gbase.html" %}
{% load hash_filters %}


{% block title %}
<h5><i class="fa fa-book"></i>Deploy and Synchronis Ebay</h5>
{% endblock %}

{% block head %}
  <div class = "panel panel-default">
    <div class="panel-heading"><h6 class="panel-title"> Order Info </h6>
     <div class="btn-group pull-right">
      <button class="btn btn-sm btn-danger btn-icon"><i class="fa fa-cogs"></i></button>
      <button class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret caret-split"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
       <li><a href="javascript:document.getElementById('order-info').submit()">save</a></li>
       <li><a href="/order/delete/?key={{ORDER.key.id}}">delete</a></li>
       <li><a href="/order/deploy/?key={{ORDER.key.id}}">deploy</a></li>
      </ul>
     </div>
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
      <form id='order-info' class='validate' action="/order/modifyorder/" method='POST'>
      {% csrf_token %}
      <div class="form-group">
        <label class="col-sm-2 control-label">Order key: </label>
        <div class="col-sm-4">
          <input value="{{ORDER.key.id}}" readonly type="text" name="key" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Supplier Name: </label>
        <div class="col-sm-4">
          <input value="{{ORDER.supplier}}" disable="false" type="text" name="supplier_name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Order Id: </label>
        <div class="col-sm-4">
          <input value="{{ORDER.oid}}" type="text" name="supplier_id" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Status: </label>
        <div class="col-sm-2">
          <select name="order_status" class="form-control input-lg">
           {% ifequal ORDER.status "ordered" %}
           <option value="ordered" selected="selected">Ordered</option>
           {% else %}
           <option value="ordered">Ordered</option>
           {% endifequal %}
           {% ifequal ORDER.status "dispatched" %}
           <option value="dispatched" selected="selected">Dispatched</option>
           {% else %}
           <option value="dispatched">Dispatched</option>
           {% endifequal %}
           {% ifequal ORDER.status "received" %}
           <option value="received" selected="selected">Received</option>
           {% else %}
           <option value="received">Received</option>
           {% endifequal %}
          </select>
        </div>
      </div>
      </form>
      </div><!-- form-horizontal -->
    </div>
  </div>
  <div class = "panel panel-default">
    <div class="panel-heading"><h6 class="panel-title">
        Order Details </h6>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
         <table class="table">
           <thead>
             <tr>
             <th>-</th>
             <th><a onclick="javascript:">item code </a></th>
             <th><a onclick="javascript:">description </a></th>
             <th><a onclick="javascript:">quantity </a></th>
             <th><a onclick="javascript:">cost </a></th>
             </tr>
           </thead>
           <tbody id="tbody-instance">
             {% for item in ITEMS %}
             <tr>
             <th>
               <div class="progress-bar" style="height:10px;width:70px" data-path="{{item.iid}}">
               </div>
             </th>
             <th>{{item.iid}}</th>
             <th>{{item.description}}</th>
             <th>{{item.amount}}</th>
             <th>{{item.cost}}</th>
             </tr>
             {% endfor %}
           </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--
  <div class = "panel panel-default">
    <div class="panel-heading"><h6 class="panel-title">
        Order Receipt Copy From Supplier </h6>
    </div>
    <div class="panel-body">
    <iframe style="width:100%;" src="" id="pdf-viewer"></iframe>
    </div>
  </div>
  -->


{% endblock %}

{% block subsidebar %}

{% endblock%}

{% block dialogfirst %}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
  <script>
    $(".validate").validate({
        errorPlacement: function(error, element) {
            if (element.parent().parent().attr("class") == "checker" || element.parent().parent().attr("class") == "choice" ) {
              error.appendTo( element.parent().parent().parent().parent().parent() );
            } 
            else if (element.parent().parent().attr("class") == "checkbox" || element.parent().parent().attr("class") == "radio" ) {
              error.appendTo( element.parent().parent().parent() );
            } 
            else {
              error.insertAfter(    element);
            }
        },
        rules: {
            supplier_name: {
                minlength:2,
                required: true,
            },
            supplier_id: {
                minlength:6,
                required: true,
            },
        },
        success: function(label) {
            label.text('Success!').addClass('valid');
        }
    });
    $(".progress-bar").progressbar({value:10});
    $(".progress-bar").each(function(index){
      zoyoe.order.testCell(this);
      });
  </script>
{% endblock %}

