    <div class="form-group">
      <label class="col-sm-5 control-label">First Name: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="required form-control" name="first_name" id="first_nam">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Last Name: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="required form-control" name="last_name" id="last_name">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Card Number: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="required form-control" name="cardnumber" id="cardnumber">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Expire Year: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="required form-control" name="expire_year" id="expire_year">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Expire Month: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="required form-control" name="expire_month" id="expire_month">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">CVV: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <input type="text" class="required form-control" name="cvv" id="cvv"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-5 control-label">Card Type: <span class="mandatory">*</span></label>
      <div class="col-sm-7">
        <select class="required form-control" name="type" id="cardtype">
          <option value="visa">visa</option>
          <option value="mastercard">mastercard</option>
          <option value="discover">discover</option>
          <option value="amex">amex</option>
        </select>
      </div>
    </div>

        <input style="display:none" type="text" name="payment_method" value="credit"/>

