<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Zoyoe e-Commerce Tools</title>
    <!-- BOOTSTRAP CORE CSS -->
    <link href="/static/landing/css/bootstrap.css" rel="stylesheet" />
    <!-- ION ICONS STYLES -->
    <link href="/static/landing/css/ionicons.css" rel="stylesheet" />
    <!-- STYLE FOR OPENING IMAGE IN POPUP USING FANCYBOX-->
    <link href="/static/landing/js/source/jquery.fancybox.css" rel="stylesheet" />
    <!-- CUSTOM CSS -->
    <link href="/static/landing/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="home">
        <div class="overlay">
            <div class="container`">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 data-scroll-reveal="enter from the bottom after 0.2s"><mark>Zoyoe e-Commerce Tools</mark></h1>
                    <h3 data-scroll-reveal="enter from the bottom after 0.4s">Integrate popular e-Commerce platform
                        <br />
                        Ebay, Shopify, Web Pos etc ... </h3>

                    <div class="clearfix"></div>
                    <div class="scroll-me" data-scroll-reveal="enter from the bottom after 0.6s">
                        <a href="#features" class="scroll-arrow"><i class="ion-chevron-down"></i></a>

                    </div>
                    <div id="fixed-menu-custom" class="scroll-me " data-scroll-reveal="enter from the bottom after 1s">
                        <a href="#home" class="btn btn-info btn-xs">Home</a>
                        <a href="#features" class="btn btn-success  btn-xs">Features</a>
                        <a href="#screens" class="btn btn-danger  btn-xs">Shots</a>
                        <a href="#contact" class="btn btn-warning  btn-xs">Contact</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!--HOME SECTION END  -->
    <section id="stats">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 data-scroll-reveal="enter from the bottom after 0.2s">Are you an <strong>eBay</strong> seller ? </h2>
                    <p data-scroll-reveal="enter from the bottom after 0.4s">
                        Not satisfied by your current eBay listing and synchronising tools ?
                        </br>
                        Need a web based eBay integration platform ?
                        </br>
                        <strong>Try out our powerful and convenient eBay integration framework ! </strong>
                    </p>
                </div>
                <div class="col-md-4" data-scroll-reveal="enter from the bottom after 0.6s">
                    <a href="http://trial.zoyoe.com" class="btn btn-success color-set btn-block btn-lg"><i class="ion-paper-airplane"></i>
                        <h3>Start Free Trial Now </h3>
                        <h5>you need a google account to start</h5>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- STATS SECTION END-->
    <section id="features">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 pad-bottom" data-scroll-reveal="enter from the bottom after 0.2s">
                    <h2 class="wow BounceInDown" data-wow-duration="2s" data-wow-delay="5s">Some <strong>FEARURES</strong></h2>
                     Features highlights.
                </div>
            </div>
            <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="col-md-4">
                    <i class="ion-ios-lightbulb-outline"></i>
                    <h4><strong>Import and manage ebay items </strong></h4>
                    By import selected items in your shop from ebay, you can not only back up your selling items but also manage the common features of your items in bulk operation. 
                </div>
                <div class="col-md-4">
                    <i class="ion-ios-barcode-outline"></i>
                    <h4><strong>Synchronize with ebay </strong></h4>
                    Dynamic synchronize your retail shop and ebay shop on stock level and price. 
                </div>
                <div class="col-md-4">
                    <i class="ion-ios-thunderstorm-outline"></i>
                    <h4><strong>Host your items on zoyoe and export to ebay , shopify , etc ... </strong></h4>
                    Preparing your listing once and sell it everywhere.
                </div>
            </div>
            <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.6s">
                <div class="col-md-4">
                    <i class="ion-ios-glasses-outline"></i>
                    <h4><strong>Free e-Commerse web site </strong></h4>
                    A free web site that sells or your products. No transaction fee.
                </div>
                <div class="col-md-4">
                    <i class="ion-ios-drag"></i>
                    <h4><strong>Shopify </strong></h4>
                    A shopify application that easily deploy and synchronize items you have prepared 
                </div>
                <div class="col-md-4">
                    <i class="ion-ios-personadd-outline"></i>
                    <h4><strong>customer service</strong></h4>
                    Misc web plugins like rating and commenting that will provide customer experience on your websit.
                </div>

            </div>
        </div>


    </section>
    <!-- FEATURES SECTION END-->
    <section id="screens">
        <div class="container">
            <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.2s">
                <div class="col-md-6 col-md-offset-3 pad-bottom">
                    <h2>COLLECTIVE <strong>SCREENSHOTS</strong></h2>
                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae

                </div>
            </div>
            <div class="row text-center pad-bottom" data-scroll-reveal="enter from the bottom after 0.4s">
                <div class="col-md-4 col-sm-4">
                    <a class="fancybox-media" title="Image Title Goes Here" href="/static/landing/img/1.jpg">
                        <img src="/static/landing/img/1.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h3>Ebay Admin Dashboard</h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a class="fancybox-media" title="Image Title Goes Here" href="/static/landing/img/2.jpg">
                        <img src="/static/landing/img/2.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h3>Prepare and manage your inventory </h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <a class="fancybox-media" title="Image Title Goes Here" href="/static/landing/img/3.jpg">
                        <img src="/static/landing/img/3.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h3>Depoly and Synchronize with your ebay shop</h3>
                </div>
            </div>
        </div>
    </section>
    <!--SCREENS SECTION END  -->
    <section id="contact">
        <div class="container">
            <div class="row text-center" data-scroll-reveal="enter from the bottom after 0.2s">
                <div class="col-md-6 col-md-offset-3 pad-bottom">
                    <h2>QUICK <strong>CONTACT</strong></h2>
                    xgao@zoyoe.com
                    </br>
                    0406819592

                </div>
            </div>
       </div>
    </section>
    <footer>
        © 2015 zoyoe.com  | <a href="http://www.zoyoe.com/" target="_blank">by Zoyoe</a>
    </footer>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  SCRIPTS -->
    <script src="/static/landing/js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="/static/landing/js/bootstrap.js"></script>
    <!-- SCROLLING SCRIPTS PLUGIN  -->
    <script src="/static/landing/js/jquery.easing.min.js"></script>
    <!-- SCROLL ANIMATIONS  -->
    <script src="/static/landing/js/scrollReveal.js"></script>
    <!-- OPEN IMAGE IN A POPUP USING FANCYBOX PLUGIN -->
    <script src="/static/landing/js/source/jquery.fancybox.js"></script>
    <!-- CUSTOM SCRIPTS   -->
    <script src="/static/landing/js/custom.js"></script>

</body>
</html>
