{% extends "betadesign/root.html" %}
{% load hash_filters %}
{% block content %}
  <div class="inner-header">
        <div class="container">
            <div class="pull-left">
                <h6 class="inner-title">Error!!</h6>
            </div>
            <div class="clearfix"></div>
        </div>
  </div>
  <div class="container">
        <div id="content" class="space-top-none space-bottom-none">
            <div class="abs-fullwidth bg-gray">
                <div class="space100">&nbsp;</div>
                <div class="container text-center">
                    <h2>Oops! {{ERROR}}</h2>
                    <div class="space40">&nbsp;</div>
                    <img src="/static/img/doh.jpg" alt="">
                    <div class="space30">&nbsp;</div>
                    <p>It looks like nothing was found at this location. Maybe try to use a search?</p>
                    <form role="search" method="get" id="searchform" action="/items/search/">
                        <input type="text" value="" name="key" id="s" placeholder="Search entire store here...">
                        <button class="fa fa-search" type="submit" id="searchsubmit"></button>
                    </form>
                </div>
                <div class="space100">&nbsp;</div>
                <div class="space30">&nbsp;</div>
            </div><div class="abs-fullwidth-height" style="height: 643px;"></div>
        </div> <!-- #content -->
  </div>

{% endblock %}

{% block dialogfirst %}
{% endblock %}
