<div style="margin-left:0px;" class='row'>
<ul id="format" class="hProductItems clearfix js-masonry" style="margin:0 auto;">

{% for item in sellitems %}
    <div class="item wow" style="padding-bottom:30px;visibility: visible;">
       <div class="single-item">
           <div class="single-item-header">
               <a href='/item/{{item.parent.name}}/{{item.key.id}}/'>
               <img src="{{item.galleryurl}}" alt=""></a>
           </div>
           <div class="single-item-body">
              <p class="single-item-title">{{item.name}}</p>
              <p class="single-item-price">
                 <span>$34.55</span>
              </p>
           </div>
           <div class="single-item-caption">
              <a class="add-to-cart pull-left" href="javascript:zoyoe.cart.add('{{item.refid}}','{{item.name}}','{{item.price}}')">
              <i class="fa fa-shopping-cart"></i></a>
              <a class="beta-btn primary" href='/item/{{item.parent.name}}/{{item.key.id}}/'>Details <i class="fa fa-chevron-right"></i></a>
              <div class="clearfix"></div>
           </div>
       </div>
    </div> 
{% endfor %}
</ul>
</div>
