{% extends "base.html" %}
{% load hash_filters %}
{% block title %}
  <h5><i class="fa fa-shopping-cart"></i> Receipt <small>--{{RECEIPT.key.id}}</small></h5>
  <div class="btn-group">
    <a href="#" class="btn btn-link btn-lg btn-icon dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i><span class="caret"></span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><a href="#">delete</a></li>
    </ul>
  </div>
{% endblock %}


{% block head %}
<div class="box">
  <div id="cart-result" class="col-lg-7 col-md-8 col-sm-12">
{% include "receiptinfo.html" %}

  <h2 style="text-align:center;">Total(shipping not included): $ {{RECEIPT.total}} , Shipping $ 10</h2>
    </div>

    <div class="col-lg-5 col-md-4 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h6 class="panel-title">Billing Info</h6></div>
        {% if RECEIPT.status == "paid" %}
        <div class="panel-body receipt-paid">
        {% else %}
        <div class="panel-body">
        {% endif %}
          <h4>Customer Name:</h4>
          <p>{{RECEIPT.firstname}} {{RECEIPT.lastname}}</p>
          <h4>Shipping Address:</h4>
          <p>{{address|hash:"line1"}} {{address|hash:"city"}} {{address|hash:"state"}} {{address|hash:"postal_code"}}</p>
          <h4> Payment method:</h4>
          {% include "receipts/paymentform.thingy" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block dialogfirst %}
{% endblock %}
