{% extends "base.html" %}
{% load hash_filters %}


{% block title %}

<h5><i class="fa fa-book"></i>Receipts</h5>
{% endblock %}

{% block head %}
<table class="table">
  <thead>
    <tr>
      <th><span>receipt id</span></th>
      <th><span>date</span></th>
      <th><span>total</span></th>
      <th><span>email</span></th>
      <th><span>action</span></th>
    </tr>
  </thead>
  <tbody>
    {% for receipt in receipts %}
    <tr>
      <td><a href="/retail/receiptview/?key={{receipt.key.id}}">
      {{receipt.key.id}}</a>
      </td>
      <td>
      {{receipt.date}}
      </td>
      <td>
      {{receipt.status}}
      </td>
      <td>
      {{receipt.email}}
      </td>
      <td>
        <button onclick="javascript:zoyoe.cart.deletereceipt(this,'{{receipt.key.id}}')" class="btn btn-danger btn-icon">
          <i class="fa fa-trash"></i>
        </button> 
        <button onclick="javascript:zoyoe.cart.loadreceipt(this,'{{receipt.key.id}}')" class="btn btn-default btn-icon">
          <i class="fa fa-info"></i>
        </button> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block subsidebar %}

{% endblock%}

{% block dialogfirst %}
{% endblock %}

